<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/activeCtrl.js"></script>
    <script src="js/agentService.js"></script>
  </head>
  <body ng-app="starter">

    <ion-nav-view></ion-nav-view>

    <script id="assignmentsList.html" type="text/ng-template">
      <ion-side-menus>
        <ion-side-menu side='left'>
          <ion-header-bar class='bar-stable'>
            <h1 class='title'>Shift Options</h1>
          </ion-header-bar>
          <ion-content>
            <ul class='workGroups'>
              <li class='offDuty item item-button-right' ng-class="{ 'onDuty': cluster.on_duty }" ng-repeat='cluster in assignmentsCtrl.agentService.clusters'>
                {{cluster.name}}
                  <button ng-click='assignmentsCtrl.toggleDuty(cluster)' class='button button-positive'>Go</button>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu>
        <ion-side-menu-content >
          <ion-view view-title='Assignments'>
            <ion-header-bar>
              <ion-nav-bar class="bar-stable">
                <ion-nav-buttons side='left'>
                  <button ng-show='!assignmentsCtrl.isSelected()' class='button button-icon button-clear ion-navicon' ng-click='assignmentsCtrl.toggleSideMenu()'></button>
                  <button ng-show='assignmentsCtrl.isSelected()' class='button button-icon button-clear button-dark ion-chevron-left' ng-click='assignmentsCtrl.toggleSelectAssignment(assignment)'>Back</button>
                  <h1 class="title driverAppTitle">All Assignments</h1>
                </ion-nav-buttons>
              </ion-nav-bar>
            </ion-header-bar>
            <ion-content ng-show='!assignmentsCtrl.selectedAssignment'>
              <ion-list>
                <ion-item ng-repeat='assignment in assignmentsCtrl.agentService.assignments' ng-click='assignmentsCtrl.toggleSelectAssignment(assignment)' class='assignmentRow'>
                  <div class='assignmentRowInfo'>
                    <div class='dropOff'><span class='ion-pizza'></span>  {{assignment.dropoff}} Drop OFF</div>
                    <div>{{assignment.tasks.length}} - Tasks {{assignment.tasks[0].place}}</div>
                  </div>
                  <div class='chevronButton'>
                    <i class='icon ion-chevron-right'></i>
                  </div>
                </ion-item>
              </ion-list>
            </ion-content>
            <ion-content ng-show='assignmentsCtrl.isSelected()'>
              <ion-list>
                <ion-item ng-repeat='task in assignmentsCtrl.selectedAssignment.tasks'>
                  <div>{{task.pickup}}</div>
                  <div>{{task.place}}</div>
                  <div>{{task.address}}</div>
                </ion-item>
                <ion-item>
                  <div>{{assignmentsCtrl.selectedAssignment.dropoff}}</div>
                  <div>{{assignmentsCtrl.selectedAssignment.destination}}</div>
                  <div>{{assignmentsCtrl.selectedAssignment.destination_address}}</div>
                </ion-item>
              </ion-list>
              <div class='buttonContainer'>
                <button class='button button-block button-dark acceptAssignmentBtn' ng-click='assignmentsCtrl.acceptAssignment()'>Accept Assignment</button>
              </div>
            </ion-content>
          </ion-view>
        </ion-side-menu-content>
      </ion-side-menus>
    </script>

    <script id="logIn.html" type="text/ng-template">
      <ion-view view-title='Log In'>
        <ion-header-bar class='bar-stable'>
          <h1 class='title logInTitle'>Log In</h1>
        </ion-header-bar>
        <ion-content>
          <div class='logInHeader'>Sterling Driver App</div>
          <div class='logInSubHeader'> Please log In!</div>
          <form>
            <label class='item item-input'>
              <span class='input-label'>Email</span>
              <input ng-model='logInCtrl.logInField.email' type='email'>
            </label>
            <label class='item item-input'>
              <span class='input-label'>Password</span>
              <input ng-model='logInCtrl.logInField.password' type='password'>
            </label>
            <div class='logInBtnContainer'>
              <button class='button button-block button-dark logInBtn' ng-click='logInCtrl.logIn()'>Log In</button>
            </div>
          </form>
        </ion-content>
      </ion-view>
    </script>

    <script id="activeAssignment.html" type="text/ng-template">
      <ion-view view-title='Active Assignment'>
      <ion-header-bar class='bar-stable'>
        <button ng-show='activeCtrl.orderSelected()' class='button button-icon button-clear button-dark ion-chevron-left' ng-click='activeCtrl.deSelectOrder()'>Back</button>
        <h1 ng-show='activeCtrl.orderSelected()' class='title currentOrder'> Order {{activeCtrl.selectedOrder.id}}</h1>
        <h1 ng-show='!activeCtrl.orderSelected()' class='title currentAssignment'>Current Assignment</h1>
      </ion-header-bar>
      <ion-content ng-show='!activeCtrl.orderSelected()'>
        <ion-list>
          <ion-item class='currentAssignmentSubheader'>
            <div class='currentDropOffTime'>{{activeCtrl.agentService.activeAssignment.dropoff}} DROPOFF</div>
            <div class='currentDestination'>{{activeCtrl.agentService.activeAssignment.destination}}</div>
          </ion-item>
          <div ng-repeat='task in activeCtrl.agentService.activeAssignment.tasks'>
            <ion-item>
              <div>{{task.pickup}}</div>
              <div>{{task.place}}</div>
              <div>{{task.address}}</div>
            </ion-item>
            <ion-item class='orderRow' ng-repeat='order in task.orders' ng-click='activeCtrl.selectOrder(order)'>
              <div>
                <div class='orderNumber'>Order Number: {{order.id}}</div>
              </div>
                  <div class='orderName'>{{order.name}}</div>
                  <div class='orderRoom'>Room: {{order.details}}</div>
              <div class='chevronButton'>
                <i class='ionic ion-chevron-right'></i>
              </div>
            </ion-item>
          </div>
          <ion-item>
            <div>{{activeCtrl.agentService.activeAssignment.dropoff}}</div>
            <div>{{activeCtrl.agentService.activeAssignment.destination}}</div>
            <div>{{activeCtrl.agentService.activeAssignment.destination_address}}</div>
          </ion-item>
        </ion-list>
        <div class='buttonContainer'>
           <button ng-show='activeCtrl.assignmentReadyToFinish' class='button button-block button-balanced' ng-click='activeCtrl.completeAssignment()'>Complete Assignment</button> 
          <button ng-show='activeCtrl.allOrdersBeGot && !activeCtrl.assignmentReadyToFinish' class='button button-block button-positive' ng-click='activeCtrl.arriveAssignment()'>Arriving Now</button>
        </div>
      </ion-content>
      <ion-content ng-show='activeCtrl.orderSelected()'>
      <div class='orderInfoContainer'>
        <div>Order for {{activeCtrl.selectedOrder.name}}</div>
        <div>{{activeCtrl.selectedOrder.details}}</div>
         - <div>{{activeCtrl.selectedOrder.item_count}} Item(s)</div>
        <div class='ion-phone'></div>
      </div>
      <ion-list>
        <ion-item ng-repeat='entry in activeCtrl.selectedOrder.entries' class='entryContainer'>
          <div class='entryIcon'><img ng-src='{{entry.icon}}'></div>
          <div class='entryName'>{{entry.name}}</div>
           x <div>{{entry.quant}}</div>
        </ion-item>
      </ion-list>
      <div class='buttonContainer' ng-show='!activeCtrl.selectedOrder.isGot'>
          <button class='button button-block button-calm' ng-click='activeCtrl.orderBeGot()'>Got it!</button>
        </div>
      </ion-content>
    </script>
  </body>
</html>
