.title {
	text-align: center;
	margin: auto auto;
}


.bar .driverAppTitle {
	font-weight: bold;
	text-align: center;
}

.jobArea {
	font-size: 20px;
	border-bottom:1px dashed #888;
	padding:10px 0px;
}

.buttonContainer button{
	width: 85%;
	margin: auto;
}

/*--------------------Log In View--------------*/

.bar .logInTitle {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.logInHeader {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding: 50px;
}

.logInSubHeader {
	font-size: 20px;
	color: grey;
	text-align: center;
	margin-bottom:25px;
}

.logInBtnContainer {
	padding: 5px 25px;
}


/********************OnDuty Side menu ********************/


.offDuty {
	background-color: hsla(352, 62%, 71%, 1);
}

.onDuty {
	background-color: hsla(135, 70%, 72%, 1);
}


/**********************Assignment List View**************/

.title.driverAppTitle {
	font-size: 20px;
}

.assignmentRow {
	display: flex;
	justify-content: space-between;
	align-itmes: center;
}

.assignmentRowInfo {
	font-size: 18px;
	padding: 3px;
}

.assignmentRowInfo .dropOff {
	font-weight: bold;
	padding-bottom: 4px;
}

.chevronButton {
	padding-top: 10px;
	padding-right: 20px;
}

.chevronButton .destination {
	display: inline;
	font-style: italic;
}

.chevronButton i.ion-chevron-right {
	font-size: 28px;
	padding-left: 1em;
}


/*************************Current Assignment View***********/

.currentAssignment {
	font-weight: bold;
}

.currentAssignmentSubheader {
	display: flex;
	justify-content: space-between;
}


.currentDropOffTime {
	font-size: 20px;
	font-weight: bold;
}

.currentDestination{


}

.taskPickup {
	font-weight: bold;
}

.activeAssignmentDropoff {
	font-weight: bold;
}

.orderRow{
	display: flex;
	justify-content: space-between;
}

.orderDetails {
	display: flex;
	justify-content: left;
	font-size: 16px;
}

.orderDetails div{
	padding-left: 1em;
}

.orderRow .orderNumber{
	font-style: italic;
}

.orderRow .orderName {
  font-weight: bold;
  font-size: 20px;
}

.orderRow .orderRoom {
	font-weight: bold;
}

.orderRow .chevronButton {
	padding-top: 0px;
}


/************************Selected Order View*****************/


.orderInfoContainer {
	display: flex;
	justify-content: left;
	font-size: 18px;
	padding: 0.75em;
}

.orderInfoContainer div {
	padding-left: 10px;
}

.entryRow {
	display: flex;
	justify-content: space-between;
}

.entryContainer {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0px;
}

.entryContainer div {
	padding: 1em;
}

.entryIcon img{
	max-width: 75px;
	max-height: 75px;
}

.entryName {
	font-size: 22px;
}

.checkbox {
	border: none;
	padding-right: 2em;
	pointer-events: none;
}


.checked {
	background-color: lightgreen;
}


