

.bar .driverAppTitle {
	font-weight: bold;
}

.jobArea {
	font-size: 20px;
	border-bottom:1px dashed #888;
	padding:10px 0px;
}

/*--------------------Log In View--------------*/

.bar .logInTitle {
	font-size: 24px;
	font-weight: bold;
}

.logInHeader {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding: 50px;
}

.logInSubHeader {
	font-size: 20px;
	color: grey;
	text-align: center;
	margin-bottom:25px;
}

.logInBtnContainer {
	padding: 5px 25px;
}


/********************OnDuty Side menu ********************/


.offDuty {
	background-color: hsla(352, 62%, 71%, 1);
}

.onDuty {
	background-color: hsla(135, 70%, 72%, 1);
}



/************************Selected Order View*****************/

.orderInfoContainer {
	display: flex;
	justify-content: left;
}

.entryContainer {
	display: flex;
	justify-content: left;
	align-items: center;
}

.entryContainer div {
	padding: 1em;
}

.entryIcon img{
	max-width: 75px;
	max-height: 75px;
}