@font-face {
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mulisemibold';
	src: url('../fonts/Muli-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.clear {
	clear: both;
}


.contentContainer {
	background-color: #F7F7F7;
}

.buttonContainer{
	width: 85%;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	border-radius: 10px;
}

/*--------------------Log In View--------------*/

.bar .logInTitle {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.logInHeader {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	padding: 50px;
}

.logInSubHeader {
	font-size: 20px;
	color: grey;
	text-align: center;
	margin-bottom:25px;
}

.logInBtnContainer {
	padding: 5px 25px;
}


/********************OnDuty Side menu ********************/


.offDuty {
	background-color: hsla(352, 62%, 71%, 1);
}

.onDuty {
	background-color: hsla(135, 70%, 72%, 1);
}


/**********************Assignment List View**************/

.offDutyCover {
	background-color: #888;
	color: white;
	position: absolute;
	width: 100%;
	text-align: center;
	height: 150px;
	top: 5em;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 150px;
	font-weight: 600;
}

.noAssignments {
	color: #555;
	position: absolute;
	width: 100%;
	text-align: center;
	height: 100px;
	top: 5em;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 100px;
	font-weight: 600;
}

.title.driverAppTitle {
	font-size: 20px;
}

.spacing {
	margin-top: 25px;
}

.assignmentRow {
	display: flex;
	justify-content: space-between;
	align-itmes: center;
}

.assignmentRowInfo {
	font-size: 19px;
	padding: 3px;
}

.assignmentRowInfo .dropOff {
	font-family: "Open Sans",sans-serif;
	font-weight: 600;
	font-size: 15px;
}

.assignment-task-info {
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #9E9E9E;
}

.chevronButton {
	padding-top: 11px;
}

.chevronButton .destination {
	display: inline;
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.chevronButton i.ion-chevron-right {
	font-size: 15px;
	padding-left: 0.25em;
}

.runnerNeeded {
	background-color: hsla(356, 59%, 63%, 1);
	color: #333;
}

.runnerNeeded .assignment-task-info {
	color: #333;
}

/************************Selected Runner Assignment View ********/

.runnerNeeded.taskInfoRow {
	background-color: hsla(356, 59%, 63%, 1);
	color: #333;
}

.currentHotel {
	font-size: 0.9em;
	font-style: italic;
}
/*************************Current Assignment View***********/

.currentAssignment {
	font-weight: bold;
}

.currentAssignmentSubheader {
	display: flex;
	justify-content: space-between;
}

.currentDropOffTime {
	font-family: "Open Sans",sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #606060;
}

.currentDestination{
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9E9E9E;
}


.activeAssignmentDropoff {
	font-weight: bold;
}

.taskInfoRow {
	display: flex;
	justify-content: space-between;
}

.taskInfoDetails {
	font-family: "Open Sans",sans-serif;
	font-weight: 600;
}

.numOfOrders {
	margin-top: 1em;
	font-family: "Open Sans",sans-serif;
	font-weight: 500;
	font-size: 15px;
}

.activeTask {
	background-color: #ff5467;
	color: #FFF;
}

.activeTask.taskInfoRow {
	color: #FFF;
}

.taskPickup {
	font-size: 10px;
}

.taskPlace {
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.taskAddress {
	font-weight: 300;
	font-size: 11px;
}

.greyBackground {background-color: #F7F7F7;}

.orderRow{
	display: flex;
	justify-content: space-between;
}

.orderDetails {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	font-size: 17px;
}

.orderDetails div{
	padding-left: 1em;
}

.orderRow .orderNumber{
	font-size: 13px;
	color: #A4A4A4;
	font-weight: 400;
	font-family: "Open Sans",sans-serif;
}

.orderRow .orderName {
  font-size: 13px;
	color: #545454;
	font-weight: 400;
	font-family: "Open Sans",sans-serif;
}

.orderRow .orderRoom {
	border-radius: 9px;
	border: 1px solid #FF5467;
	color: #FF5467;
	background-color: #FFF;
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	font-size: 11px;
	box-sizing: border-box;
	vertical-align: top;
	padding: 2px 4px;
	margin-left: 1em;
}

.orderRow .orderRoom.activeTask {
	background-color: #ff5467;
	color: #FFF;
}

.orderRow .chevronButton {
	padding-top: 0px;
}


/************************Selected Order View*****************/

.orderInfoRow {
	padding: 0.5em 0em;
	display: flex;
	justify-content: space-between;
}


.orderInfoContainer {
	font-size: 19px;
}

.orderInfoContainer div {
	padding-left: 8px;
}

.subOrderInfoContainer{
	display: flex;
}

.orderInfoRow a {
	padding-right: 0.25em;
}

.order-name {
	font-size: 14px;
	color: #545454;
	font-weight: 600;
	font-family: "Open Sans",sans-serif;
}

.order-delivery-location {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.45);
	font-weight: 600;
	font-family: "Open Sans",sans-serif;
}

.order-item-count {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.45);
	font-weight: 400;
	font-family: "Open Sans",sans-serif;
}

.entryRow {
	display: flex;
	justify-content: space-between;
}

.entryContainer {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0px;
}

.entryContainer div {
	padding: 0px 10px;
}

.entryIcon img{
	max-width: 50px;
	max-height: 50px;
}

.entryName {
	font-family: "mulisemibold", 'Open Sans', sans-serif;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.85);
	margin-left: -10px;
}

.entryNotes {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px;
	font-size: 12px;
	color: rgba(0,0,0,0.52);
	margin-top: 2px;
	padding: 0px 1px;
}

.checkbox {
	border: none;
	pointer-events: none;
}


.checked {
	background-color: lightgreen;
}

.phoneButton {
	font-size: 32px;
}


